.NavigationItems{
    margin:0;
    padding:0px;
    list-style:none;
    display: flex;
    flex-flow: column;
    
    height:100%;
}

@media (min-width:971px)
{
    .NavigationItems{
        flex-flow:row;
    }
}