.para{
    font-family: 'Nosifer', sans-serif;
    font-size: 20px;
    color:white;
    text-shadow: 0px 2px red;
    text-align: center;
}


.Home{
    
    width:90%;
    margin:auto;
    
    text-align: center;
    box-shadow: 0 4px 4px #ccc;
    border:1px solid #eee;
    padding:20px;
    box-sizing: border-box;
    background-color: rgb(0,0,0,0.2);
}



.Facts
{
     color:white;
     width:50%;
     margin:auto;
     margin-top:20px !important;
     margin-bottom: 20px !important;
}

@media(min-width:600px)
{
    .Home{
        width:500px;
        margin-left:10%;
        float:left;
    }
    
    .para{
        font-family: 'Nosifer', sans-serif;
        font-size: 24px;
        color:white;
        text-shadow: 0px 2px red;
        text-align: unset;
        margin-left:12%;
    }
    .Facts
    {
     color:white;
     width:30%;
     margin-right:5%;
     float:right;
     overflow: hidden;
    }
}




.example_a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #434343;
    padding: 15px;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    }

    .example_a:hover {
        background: green;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
        }


 

        .example_b {
            color: #fff !important;
            text-transform: uppercase;
            text-decoration: none;
            background: #434343;
            padding: 15px;
            font-weight: bold;
            border-radius: 5px;
            display: inline-block;
            border: none;
            margin-bottom: 10px;
            transition: all 0.4s ease 0s;
            }
        
            .example_b:hover {
                background: red;
                letter-spacing: 1px;
                -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
                transition: all 0.4s ease 0s;
                }
        
  