.para{
    font-family: 'Nosifer', sans-serif;
    font-size: 20px;
    color:white;
    text-shadow: 0px 2px red;
    text-align: center;
}


.Home{
    
    /* width:90%; */
    margin:auto;
    text-align: center;
    box-shadow: 0 4px 4px #ccc;
    border:1px solid #eee;
    padding:20px;
    box-sizing: border-box;
    background-color: rgb(0,0,0,0.2);
}

.FooterFix
{
    margin-top: 430px;
}

.Facts
{
     color:white;
     width:70%;
     margin:auto;
     margin-top:20px !important;
     margin-bottom: 20px !important;
}

.Map
{
    height:300px;
    width:300px;
    margin: auto;
}
.Text
{
    width:300px;
    color:white;
}
.Maps
{
    height: 300px;
    width:300px;
    /* margin-top:20px; */
    
}
@media(min-width:400px) and (max-width:700px)
{
    .Map
    {
        height:350px;
        width:350px;
        margin: auto;
    }
    .Text
    {
        width:350px;
    }
    .Maps
    {
        height: 350px;
        width:350px;
        /* margin-top:20px; */
    }
}
@media(min-width:701px) and (max-width:975px)
{
    .Map
    {
        height:350px;
        width:550px;
        margin: auto;
    }
    .Text
    {
        width:550px;
    }
    .Maps
    {
        height: 350px;
        width:550px;
        /* margin-top:20px; */
    }
    .FooterFix
    {
        margin-top: 430px;  
    }
}
@media(min-width:976px)
{
    /* .Home{
        width:500px;
        margin-left:10%;
        float:left;
    }*/
    
    .Map
    {
        height: 320px;
        width:400px;
        margin: auto;
    }
    .Text
    {
        width:400px;
    }
    .Maps
    {
        height:300px;
        width:400px;
        /* margin-top:10px; */
    }
    .FooterFix
    {
        margin-top: 50px;
    }
    .para{
        font-family: 'Nosifer', sans-serif;
        font-size: 24px;
        color:white;
        text-shadow: 0px 2px red;
        text-align: unset;
        margin-left:12%;
    }
    .Facts
    {
     color:white;
     width:50%;
     margin-right:5%;
     float:right;
     margin-top:-50px !important;
     overflow: hidden;
    }
}




.example_a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #434343;
    padding: 15px;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    }

    .example_a:hover {
        background: green;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
        }


 

        .example_b {
            color: #fff !important;
            text-transform: uppercase;
            text-decoration: none;
            background: #434343;
            padding: 15px;
            font-weight: bold;
            border-radius: 5px;
            display: inline-block;
            border: none;
            margin-bottom: 10px;
            transition: all 0.4s ease 0s;
            }
        
            .example_b:hover {
                background: red;
                letter-spacing: 1px;
                -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
                transition: all 0.4s ease 0s;
                }
        
  