.para{
    font-family: 'Nosifer', sans-serif;
    font-size: 36px;
    color:white;
    text-shadow: 0px 2px red;
    text-align: center;
    margin-bottom: 10px;
}
.collapsible {
    background-color: wheat;
    font-family: lobster;
    font-size: 40px !important;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: center;
    margin: auto;
    display: block;
}

.collapsible:hover{
  color: brown;
}
  
  .content {
    padding: 50px 18px;
    margin: auto;
    background-color: rgba(0,0,0,0.2);
    width:80%;
    font-size: 18px;
    color: white;
  }
.text{
    color: white;
    font-family: acme;
    font-size: 38px;
    margin-top: 10px;
}