.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width:80%;
    margin:auto;
    background-color:white;
    
  }

  @media(max-width:500px)
  {
    .App{
      width:95%;
    }
  }

 