.profilepicdiv {
	margin: 50px;
	margin-top: 70px !important;
}

.payment
{
	width:100px;
	border:3px solid white;
	border-radius: 9px;
	margin:auto;
}

.image {
	border-radius: 50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 20%;
}

.contribute
{
	width: 45%;
	margin: auto;
	border:1px solid white;
	padding:10px;
}

.data {
	margin: auto;
	display: block;
	text-align: center
}


@media(max-width:700px)
{
	.contribute
	{
		width:70%;
	}
}