.answerOptions {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
  }
.quiz{
    width: 50%;
    box-shadow:0px 3px 4px #ccc;
    border: 1px solid black;
    margin: auto;
}
.questionCount{
    width:50%;
}
.hearts{
    float:right;
    padding-right: 2.5rem;
}